{% liquid

  assign account_spacing_left = block.settings.account_spacing_left | prepend: ' ml-'
  assign account_spacing_right = block.settings.account_spacing_right | prepend: ' mr-'
  assign account_color = block.settings.account_color
  assign account_size = block.settings.account_size | prepend: 'icon-'

%}

<div class="d-ib{{ account_spacing_left }}{{ account_spacing_right }}">
  <a href="{{ routes.account_login_url }}" class="button-scale {{ account_size }} color-{{ account_color }}" title="My Account">
    <span><i class="icon-account"></i></span>
  </a>
</div>