{% liquid

  assign nav = block.settings.nav
  assign nav_type = block.settings.nav_type

  assign nav_button = block.settings.nav_button
  assign nav_button_color = block.settings.nav_button_color
  assign nav_button_bg = block.settings.nav_button_bg

  assign nav_button_visibility = ''
  if nav_type == 'both'
    assign nav_button_visibility = ' d-none-upt'
  endif

%}

{% if nav != blank and nav_type != 'list' %}
  <div class="header-cta{{ nav_button_visibility }}" {{ block.shopify_attributes }}>
    {% if nav_button == 'menu' %}
      <button id="menu" class="header-btn content button-opacity color-{{ nav_button_color }} bg-{{ nav_button_bg }}" aria-label="Menu">
        <span>
          <span>Menu</span>
          <span>Close</span>
        </span>
      </button>
    {% elsif nav_button == 'hamburger' %}
      <button id="menu" class="header-btn hamburger icon-sm button-opacity color-{{ nav_button_color }}" aria-label="Menu">
        <span><i class="icon-menu"></i></span>
      </button>
    {% endif %}
  </div>
{% endif %}

{% if nav != blank %}
  {% render 'navigation', nav_settings: block.settings, content: content, class_name: class_name %}
{% endif %}