{% liquid

  assign blurb = block.settings.blurb
  assign blurb_spacing_top = block.settings.blurb_spacing_top | prepend: ' mt-'
  assign blurb_spacing_bottom = block.settings.blurb_spacing_bottom | prepend: ' mb-'
  assign blurb_spacing_left = block.settings.blurb_spacing_left | prepend: ' ml-'
  assign blurb_spacing_right = block.settings.blurb_spacing_right | prepend: ' mr-'

  assign blurb_type = block.settings.blurb_type
  if blurb_type != 'body'
    assign blurb_type = blurb_type | prepend: ' '
  else
    assign blurb_type = ''
  endif

  assign blurb_color = block.settings.blurb_color
  assign blurb_width_mobile = block.settings.blurb_width_mobile | prepend: '--mw:' | append: 'px;'
  assign blurb_width_desktop = block.settings.blurb_width_desktop | prepend: '--mw-upd:' | append: 'px;'

%}

<div class="contents blurb{{ blurb_type }} w-100 w-max{{ blurb_spacing_top }}{{ blurb_spacing_bottom }}{{ blurb_spacing_left }}{{ blurb_spacing_right }} color-{{ blurb_color }}" style="{{ blurb_width_mobile }} {{ blurb_width_desktop }}" {{ block.shopify_attributes }}>{{ blurb }}</div>