{% liquid

assign media_count = 0
assign thumb_count = 0

%}

<div class="product-slider slider-default">
  
  <div class="swiper " data-spacing-sm="10" data-spacing-md="10" data-spacing-lg="20">
    <div class="swiper-wrapper">
      {% if product.media.size > 0 %}

        {% for media in product.media %}
          {% liquid
            assign variant_ids = ''
            for variant in product.variants
              if variant.featured_image and variant.featured_image.src == media.preview_image.src
                if variant_ids == ''
                  assign variant_ids = variant.id
                else
                  assign variant_ids = variant_ids | append: ',' | append: variant.id
                endif
              endif
            endfor
          %}
          <div class="swiper-slide" data-slide="{{ media_count }}" data-variant-id="{{ variant_ids }}">
            <div class="ratio-1x1 ">
              {% case media.media_type %}

                {% when 'image' %}
                  {% render 'component-image' img: media, class: 'img-cover', size: 1100 %}


                {% when 'video' %}
                  <div class="video-cover">
                    {% render 'component-video', video: media, poster: media, lazy: true %}
                  </div>

                {% when 'external_video' %}
                  {{ media | external_video_tag: class: 'img-cover' }}

              {% endcase %}
            </div>
          </div>
          {% assign media_count = media_count | plus: 1 %}
        {% endfor %}
        

      {% else %}
        <div class="swiper-slide" data-slide="{{ media_count }}">
          <div class="ratio-1x1 ">
            <div class="float--center w-100 heading-5 text-center px-1">No Image Available</div>
          </div>
        </div>

      {% endif %}
    </div>
    
  </div>

  {% if product.media.size > 1 %}
    <div class="slider-thumbs py-1 mx-nh d-flex-wrap">
      {% for media in product.media %}
        <div class="thumb w-20 p-h" data-slide="{{ thumb_count }}">
          <button class="button-transparent d-block w-100" aria-label="Image {{ thumb_count }}">
            <div class="ratio-5x4">
              {% render 'component-image' img: media, class: 'img-cover', size: 150, lazy: false %}
            </div>
          </button>
        </div>
        {% assign thumb_count = thumb_count | plus: 1 %}       
      {% endfor %}
    </div>
  {% endif %}

</div>