<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
    {%- endif -%}

    <title>{{ shop.name }}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    {{ content_for_header }}

    {% render 'fonts' %}

    {{ 'main.css' | asset_url | stylesheet_tag }}

  </head>

  <body id="password" class="password">

    <a href="#main" class="skip-to-content button">Skip to Content</a>

    <div id="page" class="page">

      {% section 'layout-header' %}
      {% section 'layout-nav' %}

      <main id="main" class="main" role="main" tabindex="-1">

        <div id="wrapper" class="default-page password-page">
          {{ content_for_layout }}
        </div>

        {% section 'layout-footer' %}

      </main>

    </div>

    <script src="{{ 'main.js' | asset_url }}" defer="defer"></script>

  </body>
</html>