<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=3">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
    {%- endif -%}

    <title>
      {% if request.page_type == 'search' %}
        Search Results &vert; {{ shop.name }}
      {% else %}
        {{ page_title }}
        {%- if current_tags %}
          &vert; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
        {%- if current_page != 1 %}
          &vert; Page {{ current_page }}{% endif -%}
        {%- unless page_title contains shop.name %}
          &vert; {{ shop.name }}{% endunless -%}
      {% endif %}
    </title>

    {% liquid
      assign is_ghost = false
      if template.name == 'page' and template.suffix == 'ghost'
        assign is_ghost = true
      endif

      assign is_style_guide = false
      if page.url contains 'style-guide'
        assign is_style_guide = true
      endif

      assign is_sample = false
      if page.url contains 'sample'
        assign is_sample = true
      endif

      assign noindex = false
      if is_ghost or is_style_guide or is_sample
        assign noindex = true
      endif

      assign nofollow = false
      if is_ghost
        assign nofollow = true
      endif
    %}

    {% if noindex %}
      <meta name="robots" content="noindex{% if nofollow %}, nofollow{% endif %}">
    {% endif %}

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}
    {{ content_for_header }}
    {% render 'head-tracking' %}
    {% render 'head-fonts' %}

    {{ 'main.css' | asset_url | stylesheet_tag }}
  </head>

  {% liquid
    if request.design_mode
      assign page_class = ' no-animate'
    else
      assign page_class = ''
    endif

    case template.name
      when 'index' 
        assign body_class = 'home'
      when 'page' 
        assign body_class = template.suffix | default: 'default'
      when 'article' 
        assign body_class = template.suffix | default: 'default'
      when 'product' 
        assign body_class = 'product'
      when 'customers' 
        assign body_class = 'account'
      else 
        assign body_class = template.name | default: 'default'
    endcase
  %}

  <body class="{{ body_class }}">
    <a href="#main" class="skip-to-content button">Skip to Content</a>

    {% render 'scripts-gtm' %}

    <div id="page" class="page{{ page_class }}">
      {% section 'layout-header' %}  
      {% section 'layout-announcement' %}
      
      {% unless template == 'cart' %}
        {% section 'layout-drawer' %}
      {% endunless %}

      <main id="main" class="main" role="main" tabindex="-1">
        <div id="wrapper" class="{{ body_class | append: '-page' }}">
          {{ content_for_layout }}
        </div>
        {% section 'layout-footer' %}
      </main>
    </div>

    <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'main.js' | asset_url }}" defer="defer"></script>
  </body>
</html>