{% layout none %}

<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
  
  <head>
    <script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=3">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
    {%- endif -%}

    {%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros | strip_html -%}

    <title>Here's your {{ formatted_initial_value }} gift card for {{ shop.name }}!</title>

    <meta name="description" content="Your gift card">

    {% render 'meta-tags' %}
    {{ content_for_header }}
    {% render 'head-tracking' %}
    {% render 'head-fonts' %}

    {{ 'main.css' | asset_url | stylesheet_tag }}
  </head>

  <body class="gift-card">
    <a href="#main" class="skip-to-content button">Skip to Content</a>

    <div id="page" class="page">

      <main id="main" class="main" role="main" tabindex="-1">
        <div id="wrapper" class="content gift-card-page">


          <section class="stuff section">
            <div class="stuff-wrapper gap-tm--xl gap-bm--xl">
              <div class="container container-lg">

                <div class="stuff-heading gap-b--sm text-center">
                  <h1 class="heading-1">Your gift card</h1>

                  {% if settings.currency_code_enabled %}
                    {%- assign gift_card_balance = gift_card.balance | money_with_currency -%}
                  {% else %}
                    {%- assign gift_card_balance = gift_card.balance | money -%}
                  {% endif %}
                  <h2 class="heading-2 mt-2">Remaining {{ gift_card_balance }}</h2>
                  
                  {% if gift_card.enabled == false or gift_card.expired %}
                    <p class="error mt-2 caption color-error">Expired</p>
                  {% endif %}
                </div>


                <div class="stuff-content container-xs mx-auto">

                  <div class="gift-card-img mb-6">
                    <img src="{{ 'gift-card/card.svg' | shopify_asset_url }}" alt="" class="img-fluid mx-auto" height="{{ 250 | divided_by: 1.5 }}" width="250" loading="lazy">
                  </div>

                  <div class="gift-card-qr d-flex d-flex--center" data-identifier="{{ gift_card.qr_identifier }}"></div>

                  <div class="gift-card-info">
                
                    <div class="input mt-2">
                      <input type="text" class="gift-card-number input-field text-center" value="{{ gift_card.code | format_code }}" aria-label="Gift card code" readonly>
                    </div>
    
                    <div class="buttons d-flex-wrap d-flex--center mt-2">
                      <a href="javascript:void(0);" class="gift-card-copy-link btn btn-primary m-h m-1-upt" title="Copy code">Copy code</a>
                      <button class="btn btn-primary m-h m-1-upt" onclick="window.print();" aria-label="Print">Print</button>
                    </div>
    
                    {%- if gift_card.pass_url -%}
                      <a href="{{ gift_card.pass_url }}" class="gift_card-apple-wallet">
                        <img src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" width="120" height="40" alt="Add to Apple Wallet" loading="lazy">
                      </a>
                    {%- endif -%}
    
    
                    <div class="gift-card-copy-success caption mt-1 text-center" role="status"></div>
                    <template>Code copied successfully</template>
    
                  </div>

                </div>

              </div>
            </div>
          </section>


        </div>
      </main>
    </div>

    <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'main.js' | asset_url }}" defer="defer"></script>
  </body>
</html>

<script>
  var string = { qrImageAlt: {{ 'gift_cards.issued.qr_image_alt' | t | json }} };
  document.addEventListener('DOMContentLoaded', function() {
   new QRCode( document.querySelector('.gift-card-qr'), {
    text: document.querySelector('.gift-card-qr').dataset.identifier,
    width: 120,
    height: 120,
    imageAltText: string.qrImageAlt
    });
  });

  var template = document.getElementsByTagName("template")[0];
  var clonedTemplate = template.content.cloneNode(true);

  var isMessageDisplayed = false
  document
  .querySelector('.gift-card-copy-link')
  .addEventListener('click', () => {
    navigator.clipboard.writeText(document.querySelector('.gift-card-number').value).then(function () {
      if (!isMessageDisplayed) {
        document.querySelector('.gift-card-copy-success').appendChild(clonedTemplate);
        isMessageDisplayed = true
      }
    });
  });
</script>