{% liquid
  
  assign footer_newsletter_title = section.settings.footer_newsletter_title | default: 'Newsletter Mailchimp'
  assign footer_newsletter_blurb = section.settings.footer_newsletter_blurb

%}

<div class="footer-wrapper gap-tm--sm">
  <div class="footer-container container container-xx">

    <div class="footer-newsletter text-center">
      {% if footer_newsletter_title != blank %}
        <h2 class="">{{ footer_newsletter_title }}</h2>
      {% endif %}
      {% if footer_newsletter_blurb != blank %}
        <div class="blurb w-max mt-1">{{ footer_newsletter_blurb }}</div>
      {% endif %}
      {% render 'form-mailchimp', class: 'footer-newsletter-form mt-2' %}
    </div>


    {% render 'component-social', class: 'footer-social mt-q', color: 'black' %}


    {% if linklists[section.settings.footer_nav] %}
      <ul class="footer-nav ls-none text-center">
        {% for link in linklists[section.settings.footer_nav].links %}
          {% if linklists[section.settings.footer_nav].levels == 1 %}
            <li class="footer-nav-item">
              <a href="{{ link.url }}" class="footer-nav-anchor button-opacity text-uppercase" title="{{ link.title | strip_html | escape }}"{% if link.url contains 'http://' or link.url contains 'https://' %} target="_blank" rel="nofollow"{% endif %}>{{ link.title | strip_html | escape }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}


    {% if linklists[section.settings.footer_nav_sub] %}
      <ul class="footer-legal ls-none text-center mt-h-upt py-2">
        <li class="footer-legal-item d-ib-middle mr-h caption">
          <span class="caption">&copy; {{ "now" | date: "%Y" }} {{ shop.name }}. All rights reserved.</span>
        </li>
        {% for link in linklists[section.settings.footer_nav_sub].links %}
          {% if linklists[section.settings.footer_nav_sub].levels == 1 %}
            <li class="footer-legal-item d-ib-middle mr-h caption">
              <a href="{{ link.url }}" class="footer-legal-anchor caption button-opacity" title="{{ link.title | strip_html | escape }}"{% if link.url contains 'http://' or link.url contains 'https://' %} target="_blank" rel="nofollow"{% endif %}>{{ link.title | strip_html | escape }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li class="footer-legal-item d-ib-middle mr-h caption">
          <a href="https://makersandallies.com" class="footer-legal-anchor caption button-opacity" title="Made by Makers" target="_blank" rel="nofollow">Made by Makers</a>
        </li>
      </ul>
    {% endif %}

  </div>
</div>

{% schema %}
  {
    "name": "Footer",
    "tag": "footer",
    "class": "footer",
    "settings" : [
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "text",
        "id": "footer_newsletter_title",
        "label": "Newsletter Title"
      },
      {
        "type": "textarea",
        "id": "footer_newsletter_blurb",
        "label": "Newsletter Text Blurb"
      },
      {
        "type": "header",
        "content": "Navigation"
      },
      {
        "type": "link_list",
        "id": "footer_nav",
        "label": "Footer Menu"
      },
      {
        "type": "link_list",
        "id": "footer_nav_sub",
        "label": "Footer Sub Menu"
      }
    ]
  }
{% endschema %}