{% liquid
  
  assign text_color = section.settings.text_color
  assign bg_color = section.settings.bg_color

%}

<div id="cart-drawer" class="drawer" aria-hidden="true">

  <div class="drawer-overlay" data-drawer-close></div>

  <div class="drawer-wrapper bg-{{ bg_color }} color-{{ text_color }}">

    <div class="drawer-header">
      <h2 class="">Your Cart (<span class="cart-count">{{ cart.item_count }}</span>)</h2>
      <button class="drawer-close button-scale icon-sm" aria-label="Close cart" data-drawer-close>
        <span><i class="icon-close"></i></span>
      </button>
    </div>

    <div id="drawer-body" class="drawer-body">
      {% if cart.item_count > 0 %}
        {% render 'cart-items' %}
      {% endif %}
      <div class="drawer-empty{% if cart.item_count > 0 %} d-none{% endif %}">Your cart is empty.</div>
    </div>

    
    <div class="drawer-footer">
      <div class="drawer-subtotal">Subtotal: <span id="cart-subtotal">{{ cart.total_price | money }}</span></div>
      <p>Taxes and shipping calculated at checkout</p>
      <div class="button-group">
        <a href="{{ routes.cart_url }}" class="btn btn-primary m-1" title="View Cart">View Cart</a>
  
        <form action="{{ routes.cart_url }}" method="post">
          <button type="submit" name="checkout" class="btn btn-primary{% if cart == empty %} disabled{% endif %}">Checkout</button>
        </form>
      </div>
    </div>
    

  </div>
</div>

{% schema %}
{
  "name": "Cart Drawer",
  "settings": [
    {
      "type": "header",
      "content": "Content Options"
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "Text Color",
      "options": [
        {
          "label": "White",
          "value": "white"
        },
        {
          "label": "Black",
          "value": "black"
        }
      ]
    },
    {
      "type": "header",
      "content": "Background Options"
    },
    {
      "type": "select",
      "id": "bg_color",
      "label": "Background Color",
      "options": [
        {
          "label": "Transparent",
          "value": "transparent"
        },
        {
          "label": "White",
          "value": "white"
        },
        {
          "label": "Black",
          "value": "black"
        }
      ]
    }
  ]
}
{% endschema %}