<div class="drawer-wrap">

  <div class="drawer-container{% if cart.item_count == 0 %} drawer-container--empty{% endif %}">
    <div class="drawer-header d-flex d-flex--sp-between">
      <h2 class="heading-4">Your Cart (<span class="cart-count">{{ cart.item_count }}</span>)</h2>
      <button class="drawer-close button-scale icon-xs color-black" aria-label="Close">
        <span><i class="icon-close"></i></span>
      </button>
    </div>

    {% if cart.item_count == 0 %}
      <div class="drawer-empty text-center">
        <h2 class="heading-3 mb-h">{{ 'sections.cart.empty' | t }}</h2>
        <p>{{ 'sections.cart.empty_subtext' | t }}</p>
        <div class="cta mt-2">
          <a href="/collections" class="btn btn-primary" title="{{ 'sections.cart.empty_button' | t }}">{{ 'sections.cart.empty_button' | t }}</a>
        </div>
      </div>
    {% else %}

      {% form 'cart', cart, class: 'drawer-cart' %}
        <div class="drawer-cart-items">
          {% for item in cart.items %}
            <ul class="drawer-cart-row ls-none d-flex py-2" data-line-item-key="{{ item.key }}">
  
              <li class="cart-row-item w-30 px-1 w-max" style="--mw: 120px;">
                <a href="{{ item.url }}" class="d-block w-100 button">
                  <div class="ratio-1x1">
                    {% if item.image %}
                      {% render 'component-image', img: item.image, class: 'img-contain', size: '150x', lazy: false %}
                    {% else %}
                      <span class="caption text-center">No image available.</span>
                    {% endif %}
                  </div>
                </a>
              </li>
  
              <li class="cart-row-item w-50 px-1">
                <a href="{{ item.url }}" class="button-opacity d-ib"><small>{{ item.product.title }}</small></a>
                {%- if item.product.has_only_default_variant == false -%}
                  <div class="variant text-italic">
                    {%- if item.product.has_only_default_variant == false -%}
                      {%- for option in item.options_with_values -%}
                        <div class="variant-option">
                          <span class="variant-option-name"><small>{{ option.name }}:</small></span>
                          <span class="variant-option-value"><small>{{ option.value }}</small></span>
                        </div>
                      {%- endfor -%}
                    {%- endif -%}
                  </div>

                  {% unless item.selling_plan_allocation == nil %}
                    <p class="subscription"><small>{{ item.selling_plan_allocation.selling_plan.name }}</small></p>
                  {% endunless %}
                {%- endif -%}
  
                <div class="input mt-1">
                  <input class="input-number w-max" type="number" value="{{ item.quantity }}" min="0" aria-label="{{ item.quantity }}" style="--mw:70px;">
                </div>
  
              </li>
  
              <li class="cart-row-item w-20 px-1 text-right">
                <div><small>{{ item.final_line_price | money }}</small></div>
              </li>
  
            </ul>
          {% endfor %}
        </div>

        <div class="drawer-footer">
  
          <div class="total text-right">
            <span class="total-title heading-4 mr-h">{{ 'sections.cart.subtotal' | t }}</span>
            <span class="total-value heading-4">{{ cart.total_price | money }}</span>
          </div>
  
          {%- if cart.cart_level_discount_applications.size > 0 -%}
            <div class="discount text-right mt-1">
              <ul class="discounts ls-none">
                {%- for discount in cart.cart_level_discount_applications -%}
                  <li class="discounts-item caption">{{ discount.title }} (-{{ discount.total_allocated_amount | money }})</li>
                {%- endfor -%}
              </ul>
            </div>
          {%- endif -%}
  
          <div class="taxes caption text-right mt-1">
            {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
              {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
            {%- elsif cart.taxes_included -%}
              {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
            {%- elsif shop.shipping_policy.body != blank -%}
              {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
            {%- else -%}
              {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
            {%- endif -%}
          </div>
  
          <div class="buttons text-right mt-3">
            <a href="/cart" class="btn btn-secondary mr-1" title="View Cart">View Cart</a>
            <button type="submit" name="checkout" class="btn btn-primary"{% if cart == empty %} disabled{% endif %} aria-label="Checkout">Checkout</button>
          </div>
        </div>

      {% endform %}

    {% endif %}
  </div>
  
</div>

{% schema %}
{
  "name": "Cart Drawer",
  "class": "drawer"
}
{% endschema %}