{% liquid

  assign spacing-top = section.settings.spacing-top
  if spacing-top == true
    assign spacing-top = section.settings.spacing-size-top | prepend: ' gap-tm--'
  else
    assign spacing-top = ''
  endif

  assign spacing-bottom = section.settings.spacing-bottom
  if spacing-bottom == true
    assign spacing-bottom = section.settings.spacing-size-bottom | prepend: ' gap-bm--'
  else
    assign spacing-bottom = ''
  endif
  
%}

<div class="article-wrap{{ spacing-top }}{{ spacing-bottom }}">

  <div class="article-content">
    <div class="container container-xl text-center">
      <h1 class="article-content-heading heading-1 buddy text-capitalize">{{ article.title | capitalize }}</h1>
      <div class="blurb mt-q w-max mx-auto" style="--mw: 500px;">{{ article.excerpt }}</div>
    </div>
  </div>

  <div class="article-main gap-tm--sm">
    <div class="container container-md">
      <div class="contents">
        {{ article.content }}
      </div>
    </div>
  </div>

  {% render 'comments' %}

</div>

{% schema %}
{
  "name": "Article",
  "class": "article section",
  "tag": "section",
  "limit": 1,
  "templates": [
    "article"
  ],
  "settings": [
    {
      "type": "header",
      "content": "Spacing Options"
    },
    {
      "type": "checkbox",
      "id": "spacing-top",
      "default": true,
      "label": "Section Spacing Top"
    },
    {
      "type": "select",
      "id": "spacing-size-top",
      "default": "lg",
      "label": "Spacing Size Top",
      "options": [
        {
          "label": "X-Small",
          "value": "xs"
        },
        {
          "label": "Small",
          "value": "sm"
        },
        {
          "label": "Medium",
          "value": "md"
        },
        {
          "label": "Large",
          "value": "lg"
        }, {
          "label": "X-Large",
          "value": "xl"
        }, {
          "label": "XX-Large",
          "value": "xx"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "spacing-bottom",
      "default": true,
      "label": "Section Spacing Bottom"
    }, {
      "type": "select",
      "id": "spacing-size-bottom",
      "default": "lg",
      "label": "Spacing Size Bottom",
      "options": [
        {
          "label": "X-Small",
          "value": "xs"
        },
        {
          "label": "Small",
          "value": "sm"
        },
        {
          "label": "Medium",
          "value": "md"
        },
        {
          "label": "Large",
          "value": "lg"
        }, {
          "label": "X-Large",
          "value": "xl"
        }, {
          "label": "XX-Large",
          "value": "xx"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Article"
    }
  ]
}
{% endschema %}