<style>
  .password header,
  .password footer {
    display: none;
  }
</style>

{% form 'storefront_password', class: 'password-form' %}

  <div class="password-form section section-full">

    <div class="password-text">
      <div class="container container-sm">
        <div class="heading-3{% if shop.password_message != blank %} mb-1{% else %} mb-2{% endif %}">{{ 'general.password_page.login_form_heading' | t }}</div>
        {%- if shop.password_message != blank -%}
          <div class="blurb contents w-max mb-3" style="--mw: 500px;">{{ shop.password_message }}</div>
        {%- endif -%}

        {%- if form.errors -%}
          <div class="input-error-text caption mb-1 color-error">{{ 'general.password_page.login_form_error' | t }}</div>
        {%- endif -%}

        <div class="password-input input{% if form.errors %} error{% endif %}">
          <label for="password" class="input-label sr-only">{{ 'general.password_page.login_form_password_label' | t }}</label>
          <input type="password" name="password" placeholder="{{ 'general.password_page.login_form_password_label' | t }}" class="input-field">
        </div>

        <div class="password-btn mt-2">
          <button type="submit" class="btn btn-primary" aria-label="{{ 'general.password_page.login_form_submit' | t }}">{{ 'general.password_page.login_form_submit' | t }}</button>
        </div>

      </div>
    </div>

  </div>

{% endform %}