{% liquid

  assign id = section.settings.id
  if id != blank
    assign id = id | downcase | replace: " ", "-" | prepend: 'id="' | append: '" '
  else
    assign id = ''
  endif

  assign spacing_top = section.settings.spacing_top | prepend: ' gap-tm--'
  assign spacing_bottom = section.settings.spacing_bottom | prepend: ' gap-bm--'
  assign spacing_header = section.settings.spacing_header

  assign animated = section.settings.animated
  assign animation = ''
  if animated == true
    assign animation = ' animated animated-group animate-up-in'
  endif
  
  assign container_size = section.settings.container_size | prepend: ' container-'
  assign text_position = section.settings.text_position
  assign text_alignment = section.settings.text_alignment | prepend: 'text-'

  assign text_color = section.settings.text_color
  assign bg_color = section.settings.bg_color

  assign columns_width_content = section.settings.columns_width_content | default: 50
  assign columns_width_media = 100 | minus: columns_width_content
  assign columns_swap = section.settings.columns_swap 
  if columns_swap == true
    assign columns_swap = ' d-flex-swap'
  else 
    assign columns_swap = ''
  endif

  assign split_image = section.settings.split_image
  assign split_video = section.settings.split_video
  assign split_ratio = section.settings.split_ratio
  assign split_animate = section.settings.split_animate

%}


<div {{ id }}class="split-wrapper{{ spacing_top }}{{ spacing_bottom }} bg-{{ bg_color }}">

  {% if spacing_header == true %}
    <div class="gap-hh"></div>
  {% endif %}
    
  <div class="split-container container{{ container_size }}">
    <div class="split-columns columns d-flex-t{{ columns_swap }} d-flex--align-{{ text_position }}{{ animation }}">

      <div class="split-column column" style="--column-width: {{ columns_width_media }}%;">
        <div class="ratio ratio-{{ split_ratio }}"{% unless split_image %} style="background-color: hsl(from var(--{{ bg_color }}) h s calc(l - 5));"{% endunless %}>

          {% unless request.design_mode or split_animate == false %}
            <div class="parallax parallax-item parallax-zoom" data-percent="-25">
          {% endunless %}

              {% if split_image and split_video %}
                <div class="video-cover">
                  {% render 'component-video', video: split_video, poster: split_image, lazy: true %}
                </div>
              {% endif %}
              {% render 'component-image', img: split_image, lazy: true %}

          {% unless request.design_mode or split_animate == false %}
            </div>
          {% endunless %}

        </div>
      </div>

      <div class="split-column column" style="--column-width: {{ columns_width_content }}%;">
        {% if section.blocks.size > 0 %}
          <div class="split-text {{ text_alignment }} color-{{ text_color }}">
      
            {% content_for 'blocks' %}
            
          </div>
        {% endif %}
      </div>
      
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Split Layout",
    "tag": "section",
    "class": "split section",
    "settings": [
      {
        "type": "header",
        "content": "Section ID Options"
      },
        {
        "type": "text",
        "id": "id",
        "label": "Section ID",
        "info": "⚠️ Used for anchor links and must be unique, lowercase, and use dashes"
      },
      {
        "type": "header",
        "content": "Spacing Options"
      },
      {
        "type": "select",
        "id": "spacing_top",
        "default": "md",
        "label": "Section Spacing Top",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "X-Small",
            "value": "xs"
          },
          {
            "label": "Small",
            "value": "sm"
          },
          {
            "label": "Medium",
            "value": "md"
          },
          {
            "label": "Large",
            "value": "lg"
          }, {
            "label": "X-Large",
            "value": "xl"
          }, {
            "label": "XX-Large",
            "value": "xx"
          }
        ]
      },
      {
        "type": "select",
        "id": "spacing_bottom",
        "default": "md",
        "label": "Section Spacing Bottom",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "X-Small",
            "value": "xs"
          },
          {
            "label": "Small",
            "value": "sm"
          },
          {
            "label": "Medium",
            "value": "md"
          },
          {
            "label": "Large",
            "value": "lg"
          }, {
            "label": "X-Large",
            "value": "xl"
          }, {
            "label": "XX-Large",
            "value": "xx"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "spacing_header",
        "default": false,
        "label": "Add extra spacing for header"
      },
      {
        "type": "header",
        "content": "Animation Options"
      },
      {
        "type": "checkbox",
        "id": "animated",
        "label": "Include default section animation",
        "default": false
      },
      {
        "type": "header",
        "content": "Content Options"
      },
      {
        "type": "select",
        "label": "Container Size",
        "id": "container_size",
        "default": "xx",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "X-Small",
            "value": "xs"
          },
          {
            "label": "Small",
            "value": "sm"
          },
          {
            "label": "Medium",
            "value": "md"
          },
          {
            "label": "Large",
            "value": "lg"
          }, 
          {
            "label": "X-Large",
            "value": "xl"
          }, 
          {
            "label": "XX-Large",
            "value": "xx"
          }, 
          {
            "label": "Maximum",
            "value": "max"
          },
          {
            "label": "Extra",
            "value": "xtr"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_color",
        "label": "Text Color",
        "options": [
          {
            "label": "White",
            "value": "white"
          },
          {
            "label": "Black",
            "value": "black"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_position",
        "label": "Text Position",
        "default": "center",
        "options": [
          {
            "label": "Top",
            "value": "top"
          },
          {
            "label": "Middle",
            "value": "center"
          },
          {
            "label": "Bottom",
            "value": "bottom"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text Alignment",
        "default": "left",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "range",
        "id": "columns_width_content",
        "label": "Content Width",
        "min": 5,
        "max": 95,
        "step": 5,
        "unit": "%",
        "default": 50
      },
      {
        "type": "checkbox",
        "id": "columns_swap",
        "label": "Switch Column Order"
      },
      {
        "type": "header",
        "content": "Background Options"
      },
      {
        "type": "select",
        "id": "bg_color",
        "label": "Background Color",
        "options": [
          {
            "label": "Transparent",
            "value": "transparent"
          },
          {
            "label": "White",
            "value": "white"
          },
          {
            "label": "Black",
            "value": "black"
          }
        ]
      },
      {
        "type": "header",
        "content": "Media Options"
      },
      {
        "type": "image_picker",
        "id": "split_image",
        "label": "Image"
      },
      {
        "type": "video",
        "id": "split_video",
        "label": "Video",
        "info": "⚠️ Image is required as a fallback for video",
        "visible_if": "{{ section.settings.split_image != blank }}"
      },
      {
        "type": "select",
        "id": "split_ratio",
        "default": "1x1",
        "label": "Media Aspect Ratio",
        "visible_if": "{{ section.settings.split_image != blank }}",
        "options": [
          { 
            "value": "1x1", 
            "label": "Aspect Ratio 1:1" 
          },
          { 
            "value": "2x1", 
            "label": "Aspect Ratio 2:1" 
          },
          { 
            "value": "1x2", 
            "label": "Aspect Ratio 1:2" 
          },
          { 
            "value": "3x1", 
            "label": "Aspect Ratio 3:1" 
          },
          { 
            "value": "1x3", 
            "label": "Aspect Ratio 1:3" 
          },
          { 
            "value": "4x3", 
            "label": "Aspect Ratio 4:3" 
          },
          { 
            "value": "3x4", 
            "label": "Aspect Ratio 3:4" 
          },
          { 
            "value": "5x4", 
            "label": "Aspect Ratio 5:4" 
          },
          { 
            "value": "4x5", 
            "label": "Aspect Ratio 4:5" 
          },
          { 
            "value": "5x7", 
            "label": "Aspect Ratio 5:7" 
          },
          { 
            "value": "7x5", 
            "label": "Aspect Ratio 7:5" 
          },
          { 
            "value": "16x9", 
            "label": "Aspect Ratio 16:9" 
          },
          { 
            "value": "9x16", 
            "label": "Aspect Ratio 9:16" 
          },
          { 
            "value": "16x10", 
            "label": "Aspect Ratio 16:10" 
          },
          { 
            "value": "10x16", 
            "label": "Aspect Ratio 10:16" 
          },
          { 
            "value": "21x9", 
            "label": "Aspect Ratio 21:9" 
          },
          { 
            "value": "9x21", 
            "label": "Aspect Ratio 9:21" 
          },
          { 
            "value": "18x6", 
            "label": "Aspect Ratio 18:6" 
          },
          { 
            "value": "6x18", 
            "label": "Aspect Ratio 6:18" 
          },
          { 
            "value": "10x1", 
            "label": "Aspect Ratio 10:1" 
          },
          { 
            "value": "1x10", 
            "label": "Aspect Ratio 1:10"
            }
        ]
      },
      {
        "type": "checkbox",
        "id": "split_animate",
        "label": "Include parallax animation",
        "default": false,
        "visible_if": "{{ section.settings.split_image != blank }}"
      }
    ],
    "blocks": [
      { "type": "heading" },
      { "type": "subheading" },
      { "type": "blurb" },
      { "type": "button" }
    ],
    "presets": [
      {
        "name": "Split Layout",
        "blocks": [
          {
            "type": "heading"
          },
          {
            "type": "blurb"
          }
        ]
      }
    ]
  }
{% endschema %}