<script>
  var product_variants = {{ product.variants | json }};
</script>

{% liquid

  assign id = section.settings.id
  if id != blank
    assign id = id | lowercase | replace: " ", "-" | prepend: 'id="' | append: '" '
  else
    assign id = ''
  endif

  assign spacing_top = section.settings.spacing_top | prepend: ' gap-tm--'
  assign spacing_bottom = section.settings.spacing_bottom | prepend: ' gap-bm--'
  assign spacing_header = section.settings.spacing_header
  
  assign container_size = section.settings.container_size | prepend: ' container-'

  assign columns_width_content = section.settings.columns_width_content | default: 50
  assign columns_width_media = 100 | minus: columns_width_content

  assign product_variant = product.selected_or_first_available_variant
  assign product_tags = product.tags | join: ',' | downcase

%}


<div {{ id }}class="product-wrapper{{ spacing_top }}{{ spacing_bottom }}">

  {% if spacing_header == true %}
    <div class="gap-hh"></div>
  {% endif %}
    
  <div class="product-container container{{ container_size }}">

    <div class="product-back py-2">
      <a href="{{ collections['all'].url }}" class="button-transparent d-ib py-2" title="Back to Shop">< Back to Shop</a>
    </div>

    <div class="product-columns columns columns-flush d-flex-t d-flex--justify-between">

      <div class="product-media column column--left" style="--column-width: {{ columns_width_media }}%; --column-padding-up: 25px;">
        {% render 'product-media', product: product %}
      </div>

      <div class="product-content column column--right" style="--column-width: {{ columns_width_content }}%; --column-padding-up: 25px;">

        <h1 class="product-title my-2">{{ product.title }}</h1>

        <div class="product-price my-2">
          <span id="product-price">{% render 'product-price', product: product %}</span>
          <span class="d-block">{% render 'product-badge', product: product %}</span>
        </div>

        {% if product.description != empty %}
          <div class="product-description my-2">
            <h2 class="mb-1">Info</h2>
            <div class="blurb contents w-max">{{ product.description }}</div>
          </div>
        {% endif %}

        {% render 'product-form', product: product %}

      </div>

    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Product",
    "tag": "section",
    "class": "product section",
    "limit": 1,
    "enabled_on": {
      "templates": ["product"]
    },
    "settings": [
      {
        "type": "header",
        "content": "Section ID Options"
      },
      {
        "type": "text",
        "id": "id",
        "label": "Section ID",
        "info": "⚠️ Used for anchor links and must be unique, lowercase, and use dashes"
      },
      {
        "type": "header",
        "content": "Spacing Options"
      },
      {
        "type": "select",
        "id": "spacing_top",
        "default": "md",
        "label": "Section Spacing Top",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "X-Small",
            "value": "xs"
          },
          {
            "label": "Small",
            "value": "sm"
          },
          {
            "label": "Medium",
            "value": "md"
          },
          {
            "label": "Large",
            "value": "lg"
          }, {
            "label": "X-Large",
            "value": "xl"
          }, {
            "label": "XX-Large",
            "value": "xx"
          }
        ]
      },
      {
        "type": "select",
        "id": "spacing_bottom",
        "default": "md",
        "label": "Section Spacing Bottom",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "X-Small",
            "value": "xs"
          },
          {
            "label": "Small",
            "value": "sm"
          },
          {
            "label": "Medium",
            "value": "md"
          },
          {
            "label": "Large",
            "value": "lg"
          }, {
            "label": "X-Large",
            "value": "xl"
          }, {
            "label": "XX-Large",
            "value": "xx"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "spacing_header",
        "default": true,
        "label": "Add extra spacing for header"
      },
      {
        "type": "header",
        "content": "Content Options"
      },
      {
        "type": "select",
        "label": "Container Size",
        "id": "container_size",
        "default": "xx",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "X-Small",
            "value": "xs"
          },
          {
            "label": "Small",
            "value": "sm"
          },
          {
            "label": "Medium",
            "value": "md"
          },
          {
            "label": "Large",
            "value": "lg"
          }, 
          {
            "label": "X-Large",
            "value": "xl"
          }, 
          {
            "label": "XX-Large",
            "value": "xx"
          }, 
          {
            "label": "Maximum",
            "value": "max"
          },
          {
            "label": "Extra",
            "value": "xtr"
          }
        ]
      },
      {
        "type": "range",
        "id": "columns_width_content",
        "label": "Content Width",
        "min": 5,
        "max": 95,
        "step": 5,
        "unit": "%",
        "default": 50
      }
    ],
    "presets": [
      {
        "name": "Product"
      }
    ]
  }
{% endschema %}