<script>
  var product_variants = {{ product.variants | json }};
</script>

{% liquid

  assign id = section.settings.id
  if id != blank
    assign id = id | downcase | replace: " ", "-" | prepend: 'id="' | append: '" '
  else
    assign id = ''
  endif

  assign spacing_top = section.settings.spacing_top | prepend: ' gap-tm--'
  assign spacing_bottom = section.settings.spacing_bottom | prepend: ' gap-bm--'
  assign spacing_header = section.settings.spacing_header
  
  assign container_size = section.settings.container_size | prepend: ' container-'
  assign text_color = section.settings.text_color
  assign bg_color = section.settings.bg_color

  assign columns_width_content = section.settings.columns_width_content | default: 50
  assign columns_width_media = 100 | minus: columns_width_content

%}


<div {{ id }}class="product-wrapper{{ spacing_top }}{{ spacing_bottom }} bg-{{ bg_color }}">

  {% if spacing_header == true %}
    <div class="gap-hh"></div>
  {% endif %}
    
  <div class="product-container container{{ container_size }}">

    <div class="product-back py-3">
      <a href="{{ collections['all'].url }}" class="btn btn-primary" title="Back to Shop">Back to Shop</a>
    </div>

    <div class="product-columns columns columns-flush d-flex-t d-flex--justify-between color-{{ text_color }}">

      <div class="product-media column column--left" style="--column-width: {{ columns_width_media }}%; --column-padding-up: 25px;">
        {% render 'product-media', product: product %}
      </div>

      <div class="product-content column column--right" style="--column-width: {{ columns_width_content }}%; --column-padding-up: 25px;">

        <h1 class="product-title my-2">{{ product.title }}</h1>

        <div class="product-price my-2">
          <span id="product-price">{% render 'product-price', product: product %}</span>
          <span class="ml-h">{% render 'product-badge', product: product %}</span>
        </div>

        {% if product.description != blank %}
          <div class="product-description my-2">
            <h2 class="text-bold mb-1">Description</h2>
            <div class="blurb contents w-max">{{ product.description }}</div>
          </div>
        {% endif %}

        {% render 'product-form', product: product %}

      </div>

    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Product",
    "tag": "section",
    "class": "product section",
    "limit": 1,
    "enabled_on": {
      "templates": ["product"]
    },
    "settings": [
      {
        "type": "header",
        "content": "Section ID Options"
      },
      {
        "type": "text",
        "id": "id",
        "label": "Section ID",
        "info": "⚠️ Used for anchor links and must be unique, lowercase, and use dashes"
      },
      {
        "type": "header",
        "content": "Spacing Options"
      },
      {
        "type": "select",
        "id": "spacing_top",
        "default": "md",
        "label": "Section Spacing Top",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "X-Small",
            "value": "xs"
          },
          {
            "label": "Small",
            "value": "sm"
          },
          {
            "label": "Medium",
            "value": "md"
          },
          {
            "label": "Large",
            "value": "lg"
          }, {
            "label": "X-Large",
            "value": "xl"
          }, {
            "label": "XX-Large",
            "value": "xx"
          }
        ]
      },
      {
        "type": "select",
        "id": "spacing_bottom",
        "default": "md",
        "label": "Section Spacing Bottom",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "X-Small",
            "value": "xs"
          },
          {
            "label": "Small",
            "value": "sm"
          },
          {
            "label": "Medium",
            "value": "md"
          },
          {
            "label": "Large",
            "value": "lg"
          }, {
            "label": "X-Large",
            "value": "xl"
          }, {
            "label": "XX-Large",
            "value": "xx"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "spacing_header",
        "default": true,
        "label": "Add extra spacing for header"
      },
      {
        "type": "header",
        "content": "Content Options"
      },
      {
        "type": "select",
        "label": "Container Size",
        "id": "container_size",
        "default": "xx",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "X-Small",
            "value": "xs"
          },
          {
            "label": "Small",
            "value": "sm"
          },
          {
            "label": "Medium",
            "value": "md"
          },
          {
            "label": "Large",
            "value": "lg"
          }, 
          {
            "label": "X-Large",
            "value": "xl"
          }, 
          {
            "label": "XX-Large",
            "value": "xx"
          }, 
          {
            "label": "Maximum",
            "value": "max"
          },
          {
            "label": "Extra",
            "value": "xtr"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_color",
        "label": "Text Color",
        "options": [
          {
            "label": "White",
            "value": "white"
          },
          {
            "label": "Black",
            "value": "black"
          }
        ]
      },
      {
        "type": "range",
        "id": "columns_width_content",
        "label": "Content Width",
        "min": 5,
        "max": 95,
        "step": 5,
        "unit": "%",
        "default": 50
      },
      {
        "type": "header",
        "content": "Background Options"
      },
      {
        "type": "select",
        "id": "bg_color",
        "label": "Background Color",
        "options": [
          {
            "label": "Transparent",
            "value": "transparent"
          },
          {
            "label": "White",
            "value": "white"
          },
          {
            "label": "Black",
            "value": "black"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product"
      }
    ]
  }
{% endschema %}