{% liquid

  assign id = section.settings.id
  if id != blank
    assign id = id | downcase | replace: " ", "-" | prepend: 'id="' | append: '" '
  else
    assign id = ''
  endif

  assign spacing_top = section.settings.spacing_top | prepend: ' gap-tm--'
  assign spacing_bottom = section.settings.spacing_bottom | prepend: ' gap-bm--'
  assign spacing_header = section.settings.spacing_header
  
  assign container_size = section.settings.container_size | prepend: ' container-'

%}


<div {{ id }}class="cart-wrapper{{ spacing_top }}{{ spacing_bottom }}">

  {% if spacing_header == true %}
    <div class="gap-hh"></div>
  {% endif %}
    
  <div class="cart-container container{{ container_size }}">
    <div class="cart-content">
      {% if cart.item_count > 0 %}
        <div class="cart-heading">
          <h2 class="">Your Cart (<span class="cart-count">0</span>)</h2>
          <a href="{{ collections['all'].url }}" class="button-transparent d-ib py-2" title="Back to Shop"> < Back to Shop</a>
        </div>

        {% render 'cart-items' %}

        <div class="cart-footer">
          <div class="cart-subtotal">Subtotal: <span id="cart-subtotal">{{ cart.total_price | money }}</span></div>
          <p>Taxes and shipping calculated at checkout</p>
          <div class="button-group">
            <form action="{{ routes.cart_url }}" method="post">
              <button type="submit" name="checkout" class="btn btn-primary{% if cart == empty %} disabled{% endif %}">Checkout</button>
            </form>
          </div>
        </div>

      {% else %}
        <div class="cart-empty gap-ym--xl text-center">
          <h2 class="heading-4">Your cart is empty</h2>
          <div class="cta mt-2">
            <a href="{{ collections['all'].url }}" class="btn btn-primary" title="Shop Now">Shop Now</a>
          </div>
        </div>
      {% endif %}
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Cart",
    "tag": "section",
    "class": "cart section",
    "limit": 1,
    "enabled_on": {
      "templates": ["cart"]
    },
    "settings": [
      {
        "type": "header",
        "content": "Section ID Options"
      },
      {
        "type": "text",
        "id": "id",
        "label": "Section ID",
        "info": "⚠️ Used for anchor links and must be unique, downcase, and use dashes"
      },
      {
        "type": "header",
        "content": "Spacing Options"
      },
      {
        "type": "select",
        "id": "spacing_top",
        "default": "md",
        "label": "Section Spacing Top",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "X-Small",
            "value": "xs"
          },
          {
            "label": "Small",
            "value": "sm"
          },
          {
            "label": "Medium",
            "value": "md"
          },
          {
            "label": "Large",
            "value": "lg"
          }, {
            "label": "X-Large",
            "value": "xl"
          }, {
            "label": "XX-Large",
            "value": "xx"
          }
        ]
      },
      {
        "type": "select",
        "id": "spacing_bottom",
        "default": "md",
        "label": "Section Spacing Bottom",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "X-Small",
            "value": "xs"
          },
          {
            "label": "Small",
            "value": "sm"
          },
          {
            "label": "Medium",
            "value": "md"
          },
          {
            "label": "Large",
            "value": "lg"
          }, {
            "label": "X-Large",
            "value": "xl"
          }, {
            "label": "XX-Large",
            "value": "xx"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "spacing_header",
        "default": true,
        "label": "Add extra spacing for header"
      },
      {
        "type": "header",
        "content": "Content Options"
      },
      {
        "type": "select",
        "label": "Container Size",
        "id": "container_size",
        "default": "xx",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "X-Small",
            "value": "xs"
          },
          {
            "label": "Small",
            "value": "sm"
          },
          {
            "label": "Medium",
            "value": "md"
          },
          {
            "label": "Large",
            "value": "lg"
          }, 
          {
            "label": "X-Large",
            "value": "xl"
          }, 
          {
            "label": "XX-Large",
            "value": "xx"
          }, 
          {
            "label": "Maximum",
            "value": "max"
          },
          {
            "label": "Extra",
            "value": "xtr"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Cart"
      }
    ]
  }
{% endschema %}