{% liquid

  assign id = section.settings.id
  if id != blank
    assign id = id | lowercase | replace: " ", "-" | prepend: 'id="' | append: '" '
  else
    assign id = ''
  endif

  assign spacing_header = section.settings.spacing_header
  
  assign container_size = section.settings.container_size | prepend: ' container-'
  assign text_alignment = section.settings.text_alignment | prepend: 'text-'

  assign password_heading = section.settings.password_heading
  assign password_blurb_width = section.settings.password_blurb_width  | prepend: '--mw:' | append: 'px;'
  assign password_form_alignment = section.settings.password_form_alignment | prepend: 'text-'
  assign password_form_width = section.settings.password_form_width  | prepend: '--mw:' | append: 'px;'

%}


<div {{ id }}class="password-wrapper section-100">

  {% if spacing_header == true %}
    <div class="gap-hh"></div>
  {% endif %}
    
  <div class="password-container container{{ container_size }}">
    <div class="password-text middle {{ text_alignment }}">
      
      <div class="password-heading gap-b--sm">
        <h1 class="heading-2">{{ password_heading }}</h1>
        
        {%- if shop.password_message != blank -%}
          <div class="blurb contents w-max mt-2" style="{{ password_blurb_width }}">{{ shop.password_message }}</div>
        {%- endif -%}
      </div>

      {% form 'storefront_password', class: 'password-form w-100' %}
        <div class="password-form-container w-max {{ password_form_alignment }}" style="{{ password_form_width }}">
    
          <div class="password-input input{% if form.errors %} error{% endif %}">
            <label for="password" class="sr-only">Enter Password</label>
            <input type="password" name="password" placeholder="Enter Password" class="input-field">

            {%- if form.errors -%}
              <div class="error caption mt-q color-error">The password you entered is incorrect.</div>
            {%- endif -%}
          </div>

    
          <div class="password-btn mt-2">
            <button type="submit" class="btn btn-primary" aria-label="Enter">Enter</button>
          </div>

        </div>
      {% endform %}

    </div>
  </div>

</div>


{% schema %}
  {
    "name": "Password",
    "tag": "section",
    "class": "password section",
    "limit": 1,
    "enabled_on": {
      "templates": ["password"]
    },
    "settings": [
      {
        "type": "header",
        "content": "Section ID Options"
      },
      {
        "type": "text",
        "id": "id",
        "label": "Section ID",
        "info": "⚠️ Used for anchor links and must be unique, lowercase, and use dashes"
      },
      {
        "type": "header",
        "content": "Spacing Options"
      },
      {
        "type": "checkbox",
        "id": "spacing_header",
        "default": false,
        "label": "Add extra spacing for header"
      },
      {
        "type": "header",
        "content": "Content Options"
      },
      {
        "type": "select",
        "label": "Container Size",
        "id": "container_size",
        "default": "md",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "X-Small",
            "value": "xs"
          },
          {
            "label": "Small",
            "value": "sm"
          },
          {
            "label": "Medium",
            "value": "md"
          },
          {
            "label": "Large",
            "value": "lg"
          }, 
          {
            "label": "X-Large",
            "value": "xl"
          }, 
          {
            "label": "XX-Large",
            "value": "xx"
          }, 
          {
            "label": "Maximum",
            "value": "max"
          },
          {
            "label": "Extra",
            "value": "xtr"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text Alignment",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Password Heading Options"
      },
      {
        "type": "text",
        "id": "password_heading",
        "label": "Heading",
        "default": "Password Protected"
      },
      {
        "type": "range",
        "id": "password_blurb_width",
        "default": 550,
        "label": "Blurb Width",
        "step": 10,
        "min": 200,
        "max": 1200,
        "unit": "px",
        "info": "⚠️ Blurb can be edited in Online Store → Preferences"
      },
      {
        "type": "header",
        "content": "Password Form Options"
      },
      {
        "type": "select",
        "id": "password_form_alignment",
        "label": "Form Alignment",
        "default": "right",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "range",
        "id": "password_form_width",
        "default": 380,
        "label": "Form Width",
        "step": 10,
        "min": 200,
        "max": 1200,
        "unit": "px"
      }
    ],
    "presets": [
      {
        "name": "Password"
      }
    ]
  }
{% endschema %}