{% liquid
  assign spacing-top = section.settings.spacing-top
  if spacing-top == true
    assign spacing-top = section.settings.spacing-size-top | prepend: ' gap-tm--'
  else
    assign spacing-top = ''
  endif

  assign spacing-bottom = section.settings.spacing-bottom
  if spacing-bottom == true
    assign spacing-bottom = section.settings.spacing-size-bottom | prepend: ' gap-bm--'
  else
    assign spacing-bottom = ''
  endif
%}

<div class="activate-wrap{{ spacing-top }}{{ spacing-bottom }}">
  <div class="gap-hh"></div>

  <div class="container container-sm">

    <div class="activate-content mb-2">
      <h2 class="heading-3">{{ 'customer.activate_account.title' | t }}</h2>
      <div class="blurb buddy mt-1">{{ 'customer.activate_account.subtext' | t }}</div>
    </div>

    {% form 'activate_customer_password' %}

      {{ form.errors | default_errors }}

      <div class="input my-2">
        <label for="password" class="sr-only">{{ 'customer.activate_account.password' | t }}</label>
        <input type="password" value="" name="customer[password]" size="16" class="input-field" placeholder="{{ 'customer.activate_account.password' | t }}" />
      </div>

      <div class="input my-2">
        <label for="password_confirmation" class="sr-only">{{ 'customer.activate_account.password_confirm' | t }}</label>
        <input type="password" value="" name="customer[password_confirmation]" size="16" class="input-field" placeholder="{{ 'customer.activate_account.password_confirm' | t }}" />
      </div>

      <div class="cta mt-3">
        <input type="submit" value="{{ 'customer.activate_account.submit' | t }}" class="btn btn-primary" />
        <button name="decline" class="btn btn-secondary ml-1">{{ 'customer.activate_account.cancel' | t }}</button>
      </div>

    {% endform %}
    
  </div>
</div>

{% schema %}
{
  "name": "Account Activate",
  "class": "activate section",
  "tag": "section",
  "limit": 1,
  "templates": ["customers/activate_account"],
  "settings": [
    {
      "type": "header",
      "content": "Spacing Options"
    },
    {
      "type": "checkbox",
      "id": "spacing-top",
      "default": true,
      "label": "Section Spacing Top"
    },
    {
      "type": "select",
      "id": "spacing-size-top",
      "default": "lg",
      "label": "Spacing Size Top",
      "options": [
        {
          "label": "X-Small",
          "value": "xs"
        },
        {
          "label": "Small",
          "value": "sm"
        },
        {
          "label": "Medium",
          "value": "md"
        },
        {
          "label": "Large",
          "value": "lg"
        }, {
          "label": "X-Large",
          "value": "xl"
        }, {
          "label": "XX-Large",
          "value": "xx"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "spacing-bottom",
      "default": true,
      "label": "Section Spacing Bottom"
    }, {
      "type": "select",
      "id": "spacing-size-bottom",
      "default": "lg",
      "label": "Spacing Size Bottom",
      "options": [
        {
          "label": "X-Small",
          "value": "xs"
        },
        {
          "label": "Small",
          "value": "sm"
        },
        {
          "label": "Medium",
          "value": "md"
        },
        {
          "label": "Large",
          "value": "lg"
        }, {
          "label": "X-Large",
          "value": "xl"
        }, {
          "label": "XX-Large",
          "value": "xx"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Account Activate"
    }
  ]
}
{% endschema %}