{% liquid

  assign id = section.settings.id
  if id != blank
    assign id = id | lowercase | replace: " ", "-" | prepend: 'id="' | append: '" '
  else
    assign id = ''
  endif

  assign spacing_top = section.settings.spacing_top | prepend: ' gap-tm--'
  assign spacing_bottom = section.settings.spacing_bottom | prepend: ' gap-bm--'
  assign spacing_header = section.settings.spacing_header
  
  assign container_size = section.settings.container_size | prepend: ' container-'
  assign text_alignment = section.settings.text_alignment | prepend: 'text-'

%}


<div {{ id }}class="intro-wrapper{{ spacing_top }}{{ spacing_bottom }}">

  {% if spacing_header == true %}
    <div class="gap-hh"></div>
  {% endif %}
    
  <div class="intro-container container{{ container_size }}">
    {% if section.blocks %}
      <div class="intro-text {{ text_alignment }}">
  
        {%- for block in section.blocks -%}
          {%- case block.type -%}


            {%- when 'subheading' -%}
            {% liquid
              assign subheading = block.settings.subheading
              assign subheading_spacing_top = block.settings.subheading_spacing_top | prepend: ' mt-'
              assign subheading_spacing_bottom = block.settings.subheading_spacing_bottom | prepend: ' mb-'
            %}  
            <h3 class="heading-4{{ subheading_spacing_top }}{{ subheading_spacing_bottom }}">{{ subheading }}</h3>


            {%- when 'heading' -%}
            {% liquid
              assign heading = block.settings.heading
              assign heading_spacing_top = block.settings.heading_spacing_top | prepend: ' mt-'
              assign heading_spacing_bottom = block.settings.heading_spacing_bottom | prepend: ' mb-'
            %}
            <h2 class="heading-2{{ heading_spacing_top }}{{ heading_spacing_bottom }}">{{ heading }}</h2>


            {%- when 'blurb' -%}
            {% liquid
              assign blurb = block.settings.blurb
              assign blurb_spacing_top = block.settings.blurb_spacing_top | prepend: ' mt-'
              assign blurb_spacing_bottom = block.settings.blurb_spacing_bottom | prepend: ' mb-'
              assign blurb_width_mobile = block.settings.blurb_width_mobile | prepend: '--mw:' | append: 'px;'
              assign blurb_width_desktop = block.settings.blurb_width_desktop | prepend: '--mw-upd:' | append: 'px;'
            %}
            <div class="blurb contents w-100 w-max{% if text_alignment contains 'center' %} mx-auto{% endif %}{{ blurb_spacing_top }}{{ blurb_spacing_bottom }}" style="{{ blurb_width_mobile }} {{ blurb_width_desktop }}">{{ blurb }}</div>


            {%- when 'button' -%}
            {% liquid
              assign button_spacing_top = block.settings.button_spacing_top | prepend: ' mt-'
              assign button_spacing_bottom = block.settings.button_spacing_bottom | prepend: ' mb-'
              assign button_url = block.settings.button_url
              assign button_text = block.settings.button_text
            %}
            <div class="cta{{ button_spacing_top }}{{ button_spacing_bottom }}">
              <a href="{{ button_url }}" class="btn btn-primary" title="{{ button_text }}"{% if button_url contains 'http://' or button_url contains 'https://' %} target="_blank" rel="nofollow"{% endif %}>{{ button_text }}</a>
            </div>


            {%- when 'graphic' -%}
            {% liquid
              assign graphic = block.settings.graphic
              assign graphic_spacing_top = block.settings.graphic_spacing_top | prepend: ' mt-'
              assign graphic_spacing_bottom = block.settings.graphic_spacing_bottom | prepend: ' mb-'
              assign graphic_ratio = block.settings.graphic_ratio | prepend: ' ratio-'
              assign graphic_fit = block.settings.graphic_fit | prepend: 'img-'
              assign graphic_width_mobile = block.settings.graphic_width_mobile | prepend: '--mw:' | append: 'px;'
              assign graphic_width_desktop = block.settings.graphic_width_desktop | prepend: '--mw-upt:' | append: 'px;'
            %}
            <div class="intro-graphic w-100 w-max{% if text_alignment contains 'center' %} mx-auto{% endif %}{{ graphic_spacing_top }}{{ graphic_spacing_bottom }}" style="{{ graphic_width_mobile }} {{ graphic_width_desktop }}">
              <div class="ratio{{ graphic_ratio }} bg-black">
                {% render 'component-image', img: graphic, class: graphic_fit, lazy: true %}
              </div>
            </div>


          {%- endcase -%}
        {%- endfor -%}
        
      </div>
    {% endif %}
  </div>

</div>

{% schema %}
  {
    "name": "Intro Text",
    "tag": "section",
    "class": "intro section",
    "settings": [
      {
        "type": "header",
        "content": "Section ID Options"
      },
        {
        "type": "text",
        "id": "id",
        "label": "Section ID",
        "info": "⚠️ Used for anchor links and must be unique, lowercase, and use dashes"
      },
      {
        "type": "header",
        "content": "Spacing Options"
      },
      {
        "type": "select",
        "id": "spacing_top",
        "default": "md",
        "label": "Section Spacing Top",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "X-Small",
            "value": "xs"
          },
          {
            "label": "Small",
            "value": "sm"
          },
          {
            "label": "Medium",
            "value": "md"
          },
          {
            "label": "Large",
            "value": "lg"
          }, {
            "label": "X-Large",
            "value": "xl"
          }, {
            "label": "XX-Large",
            "value": "xx"
          }
        ]
      },
      {
        "type": "select",
        "id": "spacing_bottom",
        "default": "md",
        "label": "Section Spacing Bottom",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "X-Small",
            "value": "xs"
          },
          {
            "label": "Small",
            "value": "sm"
          },
          {
            "label": "Medium",
            "value": "md"
          },
          {
            "label": "Large",
            "value": "lg"
          }, {
            "label": "X-Large",
            "value": "xl"
          }, {
            "label": "XX-Large",
            "value": "xx"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "spacing_header",
        "default": false,
        "label": "Add extra spacing for header"
      },
      {
        "type": "header",
        "content": "Content Options"
      },
      {
        "type": "select",
        "label": "Container Size",
        "id": "container_size",
        "default": "xl",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "X-Small",
            "value": "xs"
          },
          {
            "label": "Small",
            "value": "sm"
          },
          {
            "label": "Medium",
            "value": "md"
          },
          {
            "label": "Large",
            "value": "lg"
          }, 
          {
            "label": "X-Large",
            "value": "xl"
          }, 
          {
            "label": "XX-Large",
            "value": "xx"
          }, 
          {
            "label": "Maximum",
            "value": "max"
          },
          {
            "label": "Extra",
            "value": "xtr"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text Alignment",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "Heading",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id":"heading_spacing_top",
            "label": "Spacing Top",
            "default": "none",
            "options": [
              {
                "label": "None",
                "value": "none"
              },
              {
                "label": "5px",
                "value": "h"
              },
              {
                "label": "10px",
                "value": "1"
              },
              {
                "label": "15px",
                "value": "q"
              },
              {
                "label": "20px",
                "value": "2"
              },
              {
                "label": "30px",
                "value": "3"
              },
              {
                "label": "40px",
                "value": "4"
              }
            ]
          },
          {
            "type": "select",
            "id":"heading_spacing_bottom",
            "label": "Spacing Bottom",
            "default": "none",
            "options": [
              {
                "label": "None",
                "value": "none"
              },
              {
                "label": "5px",
                "value": "h"
              },
              {
                "label": "10px",
                "value": "1"
              },
              {
                "label": "15px",
                "value": "q"
              },
              {
                "label": "20px",
                "value": "2"
              },
              {
                "label": "30px",
                "value": "3"
              },
              {
                "label": "40px",
                "value": "4"
              }
            ]
          },
          {
            "type": "text",
            "id": "heading",
            "default": "Lorem Ipsum",
            "label": "Heading"
          }
        ]
      },
      {
        "type": "subheading",
        "name": "Subheading",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id":"subheading_spacing_top",
            "label": "Spacing Top",
            "default": "none",
            "options": [
              {
                "label": "None",
                "value": "none"
              },
              {
                "label": "5px",
                "value": "h"
              },
              {
                "label": "10px",
                "value": "1"
              },
              {
                "label": "15px",
                "value": "q"
              },
              {
                "label": "20px",
                "value": "2"
              },
              {
                "label": "30px",
                "value": "3"
              },
              {
                "label": "40px",
                "value": "4"
              }
            ]
          },
          {
            "type": "select",
            "id":"subheading_spacing_bottom",
            "label": "Spacing Bottom",
            "default": "1",
            "options": [
              {
                "label": "None",
                "value": "none"
              },
              {
                "label": "5px",
                "value": "h"
              },
              {
                "label": "10px",
                "value": "1"
              },
              {
                "label": "15px",
                "value": "q"
              },
              {
                "label": "20px",
                "value": "2"
              },
              {
                "label": "30px",
                "value": "3"
              },
              {
                "label": "40px",
                "value": "4"
              }
            ]
          },
          {
            "type": "text",
            "id": "subheading",
            "default": "Lorem Ipsum",
            "label": "Subheading"
          }
        ]
      },
      {
        "type": "blurb",
        "name": "Text Blurb",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id":"blurb_spacing_top",
            "label": "Spacing Top",
            "default": "q",
            "options": [
              {
                "label": "None",
                "value": "none"
              },
              {
                "label": "5px",
                "value": "h"
              },
              {
                "label": "10px",
                "value": "1"
              },
              {
                "label": "15px",
                "value": "q"
              },
              {
                "label": "20px",
                "value": "2"
              },
              {
                "label": "30px",
                "value": "3"
              },
              {
                "label": "40px",
                "value": "4"
              }
            ]
          },
          {
            "type": "select",
            "id":"blurb_spacing_bottom",
            "label": "Spacing Bottom",
            "default": "none",
            "options": [
              {
                "label": "None",
                "value": "none"
              },
              {
                "label": "5px",
                "value": "h"
              },
              {
                "label": "10px",
                "value": "1"
              },
              {
                "label": "15px",
                "value": "q"
              },
              {
                "label": "20px",
                "value": "2"
              },
              {
                "label": "30px",
                "value": "3"
              },
              {
                "label": "40px",
                "value": "4"
              }
            ]
          },
          {
            "type": "range",
            "id": "blurb_width_mobile",
            "default": 650,
            "label": "Text Blurb Width (Mobile)",
            "step": 10,
            "min": 200,
            "max": 1200,
            "unit": "px"
          }, 
          {
            "type": "range",
            "id": "blurb_width_desktop",
            "default": 650,
            "label": "Text Blurb Width (Desktop)",
            "step": 10,
            "min": 200,
            "max": 1200,
            "unit": "px"
          }, 
          {
            "type": "richtext",
            "id": "blurb",
            "default": "<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae quaerat dolore exercitationem aliquam repellendus accusamus laboriosam voluptate, nisi amet quis quos doloribus minima quas asperiores quae voluptas?</p>",
            "label": "Text Blurb"
          }
        ]
      },
      {
        "type": "button",
        "name": "Button",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id":"button_spacing_top",
            "label": "Spacing Top",
            "default": "3",
            "options": [
              {
                "label": "None",
                "value": "none"
              },
              {
                "label": "5px",
                "value": "h"
              },
              {
                "label": "10px",
                "value": "1"
              },
              {
                "label": "15px",
                "value": "q"
              },
              {
                "label": "20px",
                "value": "2"
              },
              {
                "label": "30px",
                "value": "3"
              },
              {
                "label": "40px",
                "value": "4"
              }
            ]
          },
          {
            "type": "select",
            "id":"button_spacing_bottom",
            "label": "Spacing Bottom",
            "default": "none",
            "options": [
              {
                "label": "None",
                "value": "none"
              },
              {
                "label": "5px",
                "value": "h"
              },
              {
                "label": "10px",
                "value": "1"
              },
              {
                "label": "15px",
                "value": "q"
              },
              {
                "label": "20px",
                "value": "2"
              },
              {
                "label": "30px",
                "value": "3"
              },
              {
                "label": "40px",
                "value": "4"
              }
            ]
          },
          {
            "type": "text",
            "id": "button_text",
            "default": "Lorem Ipsum CTA",
            "label": "Button Text"
          }, {
            "type": "url",
            "id": "button_url",
            "label": "Button Link"
          }
        ]
      },
      {
        "type": "graphic",
        "name": "Graphic",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id":"graphic_spacing_top",
            "label": "Spacing Top",
            "default": "none",
            "options": [
              {
                "label": "None",
                "value": "none"
              },
              {
                "label": "5px",
                "value": "h"
              },
              {
                "label": "10px",
                "value": "1"
              },
              {
                "label": "15px",
                "value": "q"
              },
              {
                "label": "20px",
                "value": "2"
              },
              {
                "label": "30px",
                "value": "3"
              },
              {
                "label": "40px",
                "value": "4"
              }
            ]
          },
          {
            "type": "select",
            "id":"graphic_spacing_bottom",
            "label": "Spacing Bottom",
            "default": "none",
            "options": [
              {
                "label": "None",
                "value": "none"
              },
              {
                "label": "5px",
                "value": "h"
              },
              {
                "label": "10px",
                "value": "1"
              },
              {
                "label": "15px",
                "value": "q"
              },
              {
                "label": "20px",
                "value": "2"
              },
              {
                "label": "30px",
                "value": "3"
              },
              {
                "label": "40px",
                "value": "4"
              }
            ]
          },
          {
            "type": "range",
            "id": "graphic_width_mobile",
            "default": 100,
            "label": "Graphic Width (Mobile)",
            "step": 10,
            "min": 50,
            "max": 1000,
            "unit": "px"
          }, 
          {
            "type": "range",
            "id": "graphic_width_desktop",
            "default": 100,
            "label": "Graphic Width (Desktop)",
            "step": 10,
            "min": 50,
            "max": 1000,
            "unit": "px"
          },
          {
            "type": "select",
            "id": "graphic_ratio",
            "default": "1x1",
            "label": "Graphic Aspect Ratio",
            "options": [
              { 
                "value": "1x1", 
                "label": "Aspect Ratio 1:1" 
              },
              { 
                "value": "2x1", 
                "label": "Aspect Ratio 2:1" 
              },
              { 
                "value": "1x2", 
                "label": "Aspect Ratio 1:2" 
              },
              { 
                "value": "3x1", 
                "label": "Aspect Ratio 3:1" 
              },
              { 
                "value": "1x3", 
                "label": "Aspect Ratio 1:3" 
              },
              { 
                "value": "4x3", 
                "label": "Aspect Ratio 4:3" 
              },
              { 
                "value": "3x4", 
                "label": "Aspect Ratio 3:4" 
              },
              { 
                "value": "5x4", 
                "label": "Aspect Ratio 5:4" 
              },
              { 
                "value": "4x5", 
                "label": "Aspect Ratio 4:5" 
              },
              { 
                "value": "5x7", 
                "label": "Aspect Ratio 5:7" 
              },
              { 
                "value": "7x5", 
                "label": "Aspect Ratio 7:5" 
              },
              { 
                "value": "16x9", 
                "label": "Aspect Ratio 16:9" 
              },
              { 
                "value": "9x16", 
                "label": "Aspect Ratio 9:16" 
              },
              { 
                "value": "16x10", 
                "label": "Aspect Ratio 16:10" 
              },
              { 
                "value": "10x16", 
                "label": "Aspect Ratio 10:16" 
              },
              { 
                "value": "21x9", 
                "label": "Aspect Ratio 21:9" 
              },
              { 
                "value": "9x21", 
                "label": "Aspect Ratio 9:21" 
              },
              { 
                "value": "18x6", 
                "label": "Aspect Ratio 18:6" 
              },
              { 
                "value": "6x18", 
                "label": "Aspect Ratio 6:18" 
              },
              { 
                "value": "10x1", 
                "label": "Aspect Ratio 10:1" 
              },
              { 
                "value": "1x10", 
                "label": "Aspect Ratio 1:10"
               }
            ]
          },
          {
            "type": "select",
            "id": "graphic_fit",
            "default": "contain",
            "label": "Graphic Image Fit",
            "options": [
              { 
                "value": "contain", 
                "label": "Contain"
              },
              { 
                "value": "cover", 
                "label": "Cover" 
              }
            ]
          },
          {
            "type": "image_picker",
            "id": "graphic",
            "label": "Graphic Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Intro Text",
        "blocks": [
          {
            "type": "heading"
          },
          {
            "type": "blurb"
          }
        ]
      }
    ]
  }
{% endschema %}