{% liquid

  assign id = section.settings.id
  if id != blank
    assign id = id | downcase | replace: " ", "-" | prepend: 'id="' | append: '" '
  else
    assign id = ''
  endif

  assign spacing_top = section.settings.spacing_top | prepend: ' gap-tm--'
  assign spacing_bottom = section.settings.spacing_bottom | prepend: ' gap-bm--'
  assign spacing_header = section.settings.spacing_header

  assign animated = section.settings.animated
  assign animation = ''
  if animated == true
    assign animation = ' animated animated-group animate-up-in'
  endif
  
  assign container_size = section.settings.container_size | prepend: ' container-'
  assign text_alignment = section.settings.text_alignment | prepend: 'text-'

  assign text_color = section.settings.text_color
  assign bg_color = section.settings.bg_color

%}


<div {{ id }}class="intro-wrapper{{ spacing_top }}{{ spacing_bottom }} bg-{{ bg_color }}">

  {% if spacing_header == true %}
    <div class="gap-hh"></div>
  {% endif %}
    
  <div class="intro-container container{{ container_size }}">
    {% if section.blocks.size > 0 %}
      <div class="intro-text {{ text_alignment }} color-{{ text_color }}{{ animation }}">
  
        {% content_for 'blocks' %}
        
      </div>
    {% endif %}
  </div>

</div>

{% schema %}
  {
    "name": "Intro Text",
    "tag": "section",
    "class": "intro section",
    "settings": [
      {
        "type": "header",
        "content": "Section ID Options"
      },
        {
        "type": "text",
        "id": "id",
        "label": "Section ID",
        "info": "⚠️ Used for anchor links and must be unique, lowercase, and use dashes"
      },
      {
        "type": "header",
        "content": "Spacing Options"
      },
      {
        "type": "select",
        "id": "spacing_top",
        "default": "md",
        "label": "Section Spacing Top",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "X-Small",
            "value": "xs"
          },
          {
            "label": "Small",
            "value": "sm"
          },
          {
            "label": "Medium",
            "value": "md"
          },
          {
            "label": "Large",
            "value": "lg"
          }, {
            "label": "X-Large",
            "value": "xl"
          }, {
            "label": "XX-Large",
            "value": "xx"
          }
        ]
      },
      {
        "type": "select",
        "id": "spacing_bottom",
        "default": "md",
        "label": "Section Spacing Bottom",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "X-Small",
            "value": "xs"
          },
          {
            "label": "Small",
            "value": "sm"
          },
          {
            "label": "Medium",
            "value": "md"
          },
          {
            "label": "Large",
            "value": "lg"
          }, {
            "label": "X-Large",
            "value": "xl"
          }, {
            "label": "XX-Large",
            "value": "xx"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "spacing_header",
        "default": false,
        "label": "Add extra spacing for header"
      },
      {
        "type": "header",
        "content": "Animation Options"
      },
      {
        "type": "checkbox",
        "id": "animated",
        "label": "Include default section animation",
        "default": false
      },
      {
        "type": "header",
        "content": "Content Options"
      },
      {
        "type": "select",
        "label": "Container Size",
        "id": "container_size",
        "default": "xl",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "X-Small",
            "value": "xs"
          },
          {
            "label": "Small",
            "value": "sm"
          },
          {
            "label": "Medium",
            "value": "md"
          },
          {
            "label": "Large",
            "value": "lg"
          }, 
          {
            "label": "X-Large",
            "value": "xl"
          }, 
          {
            "label": "XX-Large",
            "value": "xx"
          }, 
          {
            "label": "Maximum",
            "value": "max"
          },
          {
            "label": "Extra",
            "value": "xtr"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_color",
        "label": "Text Color",
        "options": [
          {
            "label": "White",
            "value": "white"
          },
          {
            "label": "Black",
            "value": "black"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text Alignment",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Background Options"
      },
      {
        "type": "select",
        "id": "bg_color",
        "label": "Background Color",
        "options": [
          {
            "label": "Transparent",
            "value": "transparent"
          },
          {
            "label": "White",
            "value": "white"
          },
          {
            "label": "Black",
            "value": "black"
          }
        ]
      }
    ],
    "blocks": [
      { "type": "heading" },
      { "type": "subheading" },
      { "type": "blurb" },
      { "type": "button" }
    ],
    "presets": [
      {
        "name": "Intro Text",
        "blocks": [
          {
            "type": "heading"
          },
          {
            "type": "blurb"
          }
        ]
      }
    ]
  }
{% endschema %}